<html>

<head>
    <title>Student Performance Predictor</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Student Exam Performance Indicator</h1>

        <form action="{{ url_for('predict_datapoint')}}" method="post">

            <legend>Prediction Form</legend>

            <label class="form-label">Gender</label>
            <select class="form-control" name="gender" required>
                <option disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <label class="form-label">Race / Ethnicity</label>
            <select class="form-control" name="ethnicity" required>
                <option disabled selected>Select Ethnicity</option>
                <option value="group A">Group A</option>
                <option value="group B">Group B</option>
                <option value="group C">Group C</option>
                <option value="group D">Group D</option>
                <option value="group E">Group E</option>
            </select>

            <label class="form-label">Parent Education</label>
            <select class="form-control"
                name="parental_level_of_education" required>

                <option disabled selected>Select Parent Education</option>
                <option value="associate's degree">Associate's Degree</option>
                <option value="bachelor's degree">Bachelor's Degree</option>
                <option value="high school">High School</option>
                <option value="master's degree">Master's Degree</option>
                <option value="some college">Some College</option>
                <option value="some high school">Some High School</option>
            </select>

            <label class="form-label">Lunch Type</label>
            <select class="form-control" name="lunch" required>
                <option disabled selected>Select Lunch Type</option>
                <option value="free/reduced">Free / Reduced</option>
                <option value="standard">Standard</option>
            </select>

            <label class="form-label">Test Preparation Course</label>
            <select class="form-control"
                name="test_preparation_course" required>

                <option disabled selected>Select Course</option>
                <option value="none">None</option>
                <option value="completed">Completed</option>
            </select>

            <label class="form-label">Reading Score</label>
            <input class="form-control"
                type="number"
                name="reading_score"
                min="0"
                max="100"
                required>

            <label class="form-label">Writing Score</label>
            <input class="form-control"
                type="number"
                name="writing_score"
                min="0"
                max="100"
                required>

            <input class="btn"
                type="submit"
                value="Predict Maths Score">

        </form>

        <div class="result">
            {{ results }}
        </div>

    </div>

</body>

</html>